.item2 {
    grid-area: item2;
    background: url('https://static.tildacdn.com/tild3064-3238-4465-b636-643031303666/600fc39803b49.jpeg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.grids {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-areas: 'b a  c d';
    margin-top: 2%;
    margin-left: 8%;



    
}

.itemGrid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 'itemFirst' 'itemSecond';
}

.tourImg {
    width: 100%;
    height: 10vw;
}

.itemGrid1 {
    grid-area: a;
    margin-left: 2%;

    background-color: rgba(240, 248, 255, 0.684);

}

.itemGrid2 {
    grid-area: b;
    margin-left: 2%;

    background-color: rgba(240, 248, 255, 0.684);



}
.itemGrid3 {
    grid-area: c;
    margin-left: 2%;
    background-color: rgba(240, 248, 255, 0.684);

}
.itemGrid4 {
    grid-area: d;
    margin-left: 2%;
    background-color: rgba(240, 248, 255, 0.684);
}
.itemFirst {
    grid-area: itemFirst;
}

.itemSecond {
grid-area: itemSecond;

}