.item2 {
    grid-area: item2;
    background: url('https://static.tildacdn.com/tild3064-3238-4465-b636-643031303666/600fc39803b49.jpeg');
    background-attachment: fixed;
    background-size: 100% 100%;
}
.titleHistory{
    color: rgba(249, 249, 249, 0.675);
    font-size: 35px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5vw;

}

