.content{
    display: grid;
    grid-template-rows: 500px 250px 250px 250px 250px 250px 250px;
    grid-template-columns: 100%;
    grid-template-areas: "r"
    "a"
    "b"
    "c"
    "d"
    "f"
    "g";
    background: url('https://images.wallpaperscraft.ru/image/single/puteshestvenniki_puteshestvie_turizm_169200_1920x1080.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.ReclamImg{
    grid-area: r;

}
.a{
    grid-area: a;
}
.b{
    grid-area: b;

}
.c{
    grid-area: c;
}
.d{
    grid-area: d;

}
.e{
    grid-area: e;
}
.f{
    grid-area: f;

}
.g{
    grid-area: g;
}