.logo {
    grid-area: l;
  }
  
  .empty {
    grid-area: e;
  }
  
  .site1 {
    margin: auto;
    grid-area: s1;
  
  }
  
  .site2 {
    margin: auto;
    grid-area: s2;
  }
  
  .site3 {
    margin: auto;
    grid-area: s3;
  }
  
  .site4 {
    margin: auto;
    grid-area: s4;
  }
  