.Body {
  display: grid;
  grid-template-columns: 40px 1fr 200px;
  grid-template-areas:
    "h h h"
    "c c c"
    "f f f"
  ;

}



.content {
  background-color: rgba(3, 48, 67, 0.708);
  grid-area: c;
}

.footer {
  background-color: rgba(0, 0, 0, 0.584);
  grid-area: f;
}