.Body {
  display: grid;
  grid-template-columns: 40px 1fr 200px;
  grid-template-areas:
    "h h h"
    "c c c"
    "f f f"
  ;

}

.header {
  display: grid;
  background-color: rgb(255, 255, 255);
  width: 100%;
  grid-area: h;
  grid-template-columns: 10% 70% 5% 5% 5% 5%;
  grid-template-areas: "l e  s1 s2 s3 s4";
}

.logo {
  grid-area: l;
}

.empty {
  grid-area: e;
}

.site1 {
  margin: auto;
  grid-area: s1;

}

.site2 {
  margin: auto;
  grid-area: s2;
}

.site3 {
  margin: auto;
  grid-area: s3;
}

.site4 {
  margin: auto;
  grid-area: s4;
}

.content {
  background-color: rgba(3, 48, 67, 0.708);
  grid-area: c;
}

.footer {
  background-color: rgba(0, 0, 0, 0.584);
  grid-area: f;
}